<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="stylesheets/styl.css">
  <script src="https://kit.fontawesome.com/9bcd69c423.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

  {{{ body }}}

  <div class="circle1"></div>
  <div class="circle2"></div>
</body>

</html>