<form action="/login" method='POST' class="container">
  <h1>Login</h1>
  {{#if error}}
  <p>Oops! Login Failed. Please try again</p>

  {{/if}}

  <div class="input-row">
    <input type="text" name='email' id='email' autocomplete="off" required>
    <label for="email" class='input-label'>
      <span class='label-content'><i class="fas fa-user"></i>Email</span>
    </label>
  </div>
  <div class="input-row">
    <input type="text" name='password' id='password' autocomplete="off" required>
    <label for="password" class='input-label'>
      <span class='label-content'><i class="fas fa-lock"></i>Password</span>
    </label>
  </div>
  <button>login</button>
</form>