* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F9FD;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #7a54b7;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.container {
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right top, rgba(248,249,253,0.8), rgba(248, 249, 253, 1));
  box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
  border-radius: 15px;
}

h1, .input-row, button {
  margin: 1rem;
}

h1 {
  text-transform: uppercase;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 2px;
}

.input-row {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #F8F9FD;
  box-shadow: 3px 3px 20px rgba(122,122,122,0.1);
  border-radius: 8px;
  overflow: hidden;
}

input {
  width: 100%;
  height: 100%;
  padding: 30px 2rem 0px;
  outline: none;
  border: none;
  background-color: none;
  color: #c9a9e2;
  font-size: 1.2rem;
}

input:focus, label:focus, span:focus{
  outline: none;
}

.input-label{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.label-content {
  position: absolute;
  bottom: 5px;
  left: 10px;
  transition: all 0.3s ease;
}

i {
  margin-right: 5px;
}

button {
  padding: 0.8rem 3rem;
  color: #F8F9FD;
  background: linear-gradient(to right bottom,
 rgba(135, 100, 194, 0.8), rgba(135, 100, 194, 1));
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 30px;
  outline: none;
  border: none;
  box-shadow: 3px 3px 10px rgba(135, 100, 194, 0.2);
  cursor: pointer;
  position: relative;
}

button:active {
  top: 1px;
  box-shadow: 0px 0px 10px rgba(135, 100, 194, 0.4);;
}

input:focus + .input-label .label-content,
input:valid + .input-label .label-content {
  bottom: 30px;
}


.circle1, .circle2, .circle3 {
  background: rgba(135, 100, 194);
  border-radius: 50%;
  position: absolute;
  z-index: -2;
}

.circle1 {
  width: 20rem;
  height: 20rem;
  bottom: -30%;
  left: -30%;
}

.circle2 {
  width: 40rem;
  height: 40rem;
  top: -43%;
  right: -55%;
}

.circle3 {
  width: 8rem;
  height: 8rem;
  bottom: 0;
  left: 0;
  display: none;
}

@media (min-width: 576px){
  
  .circle1{
    bottom: -30%;
    left: -15%;
  }
  
  .circle2 {
    right: -40%;
  }
}

@media (min-width: 768px) {
  
  .circle2{
    top: -42%;
    right: -22%;
  }
}

@media (min-width: 980px){

  .circle1{
    bottom: -30%;
    left: 8%;
  }

  .circle2{
    width: 55rem;
    height: 55rem;
    top: -65%;
    right: -25%;
  }

  .circle3 {
    bottom: 9%;
    left: 2%;
    display: block;
  }
}

.warning, .welcome {
  color: #E892A2;
}